@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background:  linear-gradient(#447fcc, #54b161 );
}
.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}

.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;

}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label{
    color: #333;
}

.form :where(.input-box input, .select-box){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    margin-top: 8px;
    border: 1px solid#ddd;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color: #707070;

}
.input-box input:focus{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.form .column{
    display: flex;
    column-gap: 15px;
}

.address :where(input, .select-box){
    margin-top: 20px;
}

.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #333;
    font-size: 1rem;
}

.form button{
    height: 50px;
    width: 100%;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    margin-top: 30px;
    font-weight: 400;
    transition: all 0.2s ease;
    cursor: pointer;
}

.form button:hover{
    background-color: #179c29;
}

    /* Responsive */
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }

    .form :where(.gender-option, .gender){
        row-gap: 15px;
    }
}